<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Template matching API</title>

  
</head>

<body>
 <div class="login">
	<h1>Predict the image similarity</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="image" placeholder="Image URL" required="required" />
        <input type="text" name="template" placeholder="Template URL" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate score</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   <br>
   <br>
   <h3>Image found on the page is labelled with red bounding box below</h3>
   <img src="{{ user_image }}" alt="User Image">

 </div>


</body>
</html>
